<html>
  <head>
    <meta charset='utf-8' />
    <title>Http Video Streaming</title>
    <style>
      html, body { width: 100%; height: 100%; padding: 0; margin: 0; } body {
      display: flex; align-items: center; justify-content: center; max-width:
      1080px; margin: auto; background-color: #282D3F; }
    </style>
  </head>
  <body>
    <video id='videoPlayer' width='1080' controls>
      <source src='/video' type='video/mp4' />
    </video>
  </body>
</html>
